<td><%= model.get("id") %></td>
<td><%= model.get("user_name") %></td>
<td><%= model.get("email") %></td>
<td><%= model.get("membership_type") %></td>
<td><%= model.get("location") %></td>
<td><% if (model.get("access_level") == "1") { %>
    Admin
<% } else { %>
    User
<% } %></td>
<td class="text-center"><a id="editBtn" class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a id="deleteBtn" href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
