<div id="stylized" class="myform">
    <form id="form" action="index.html" method="post" name="form">
            <span style="display: inline;">
                <img style="width:50px" class="logo" src="app/img/SULogoTop.gif"  alt="">
                <span  style="display:width:100px">Igniting Women & Girls to Fulfill Their Potential</span>
            </span>
            <p>
            <br/> 
            To Login, enter Username and password: 
            </p>
            
            <div class="alert-error" style="display:none; color:red"></div>
        
        <label> Email </label>
            <input id="inputEmail" type="text" name="email" placeholder="Enter a valid email"></input>
            <br/>
        
        <label> Password </label>
            <input id="inputPassword" type="password" name="password" placeholder="Password: Min. 8 chars"></input>
            <br/>
        
        <span style="display: inline;">
        <button type="submit" id="loginButton"> Enter  </button>
        <div class="spacer"></div></span>
    </form>
</div>
