/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/

body{
	background-color: rgb(240,240,240);
}

.vertical-offset-100{
    padding-top:100px;
}

nav {
  width:100%;
  min-width: 900px;
  height:50px;
  -moz-box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
  -khtml-box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
  box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
}

.navbar-content {
  width:900px;
  margin:0 auto;
}

.header-actions {
  margin-top: 8px;
  height: 30px;
}

#NewWrapper {
  margin-top: 50px;
  padding: 20px;
  min-height:500px;
  width:900px;
  background-color:#FFFFFF;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  -khtml-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}