/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/

body{
	background-color: rgb(240,240,240);
}

.vertical-offset-100{
    padding-top:100px;
}

nav {
  width:100%;
  min-width: 900px;
  height:50px;
  -moz-box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
  -khtml-box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
  box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
}

.navbar-content {
  width:900px;
  margin:0 auto;
}

.header-actions {
  margin-top: 8px;
  height: 30px;
}

#NewWrapper {
  margin-top: 50px;
  padding: 20px;
  min-height:500px;
  width:900px;
  background-color:#FFFFFF;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  -khtml-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* Login Form */
.myform{
  margin:0px auto;
  width:320px;
  padding:10px;
}

/* ----------- stylized ----------- */
#stylized{
  border:solid 2px #e05a01;
  background: #fdeed0;
  border-radius: 8px;
}
#stylized h1 {
  font-size:30px;
  font-weight:bold;
  margin-bottom:8px;
  font-family:"Lobster Two", cursive;
  color: #4d585b;
}

#stylized p{
  font-size:12px;
  /*color:#657376;*/
  margin-bottom:20px;
  border-bottom:solid 1px #e05a01;
  padding-bottom:10px;
}
#stylized label{
  display:block;
  font-weight:bold;
  text-align:right;
  width:120px;
  float:left;
  line-height: 150%;
  padding: 7px 0px 0px 0px;
}

#stylized .small{
  color:#657376;
  display:block;
  font-size:10px;
  font-weight:normal;
  text-align:right;
  width:120px;
  padding: 0px 0px 0px 0px;
}
#stylized input{
  float:left;
  font-size:12px;
  padding:4px 2px;
  border:solid 1px #e05a01;
  width:160px;
  margin:2px 0px 20px 10px;
}
#stylized button{
  clear:both;
  margin-left:130px;
  width:120px;
  height:31px;
  background:#e05a01 url(img/button.png) no-repeat;
  text-align:center;
  line-height:31px;
  color:#FFFFFF;
  font-size:20px;
  /*font-weight:bold;*/
  border-radius: 5px;
  font-family:"Lobster Two";
} 
  
.logo{
  padding: 10px;
}