<div class="row">
    <div class="col-lg-8">
          <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Events Calendar
            </div>
            <div id="eventsPanel" class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Messaging Panel
            </div>
            <!-- /.panel-heading -->
            <div id="messagesPanel" class="panel-body">
            </div>
        </div>
    </div>
</div>
